<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Parameters -->
    <xacro:property name="mass" value="10.0"/>
    <xacro:property name="namespace" value="doogie"/>

    <!-- Includes -->
    <!-- xacro:include filename="$(find doogie_description)/urdf/common_properties.xacro"/ -->
    <!-- macro: base -->
    <xacro:macro name="doogie_base" params="namespace">
    
    <link name="${namespace}/base_link">

        <inertial>
            <origin 
                xyz="0.0247 0.0 -0.0125" 
                rpy="0 0 0"/>
            <mass 
                value="${mass}"/>
            <inertia
                ixx="10"
                ixy="0"
                ixz="0"
                iyy="10"
                iyz="0"
                izz="10"/>
        </inertial>

        <visual>
            <origin 
                xyz="0.0 0.0 0.0" 
                rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://doogie_description/meshes/collada/base_link.dae"/>
            </geometry>
        </visual>

        <collision name="doogie_collision">
            <origin 
                xyz="0.0 0.0 0.0" 
                rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://doogie_description/meshes/stl/doogie_collision.stl"/>
            </geometry>
        </collision>

        <collision>
            <origin 
                xyz="0.063 0.0 -0.018" 
                rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.005 0.005 -0.0038"/>
            </geometry>
        </collision>

    </link>

    <gazebo reference="${namespace}/base_link">
        <dampingFactor>0.0025</dampingFactor>
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

    </xacro:macro>
</robot>