<?xml version="1.0"?>
<robot name="doogie" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Parameters -->
    <xacro:arg name="namespace" default=""/>
    <xacro:arg name="robotParam" default="robot_description"/>

    <!-- Includes -->
    <xacro:include filename="$(find doogie_description)/urdf/common_properties.xacro"/>
    <xacro:include filename="$(find doogie_description)/urdf/doogie_base.xacro"/>
    <xacro:include filename="$(find doogie_description)/urdf/doogie_wheels.xacro"/>
    <xacro:include filename="$(find doogie_description)/urdf/doogie_sensors.xacro"/>

    <!-- Create doogie base -->
    <xacro:doogie_base namespace="$(arg namespace)"/>

    <!-- Create wheels -->
    <xacro:wheels namespace="$(arg namespace)" wheel_name="left">
        <mesh
            filename="package://doogie_description/meshes/collada/wheel.dae"/>
        <origin
            xyz="0.00302 0.0464 -0.00444"
            rpy="1.5708 0 1.5708"/>
        <axis 
            xyz="1.0 0.0 0.0"/>
    </xacro:wheels>

    <xacro:wheels namespace="$(arg namespace)" wheel_name="right">
        <mesh
            filename="package://doogie_description/meshes/collada/wheel.dae"/>
        <origin
            xyz="0.00302 -0.0464 -0.00444"
            rpy="1.5708 0 -1.5708"/>
        <axis
            xyz="-1.0 0.0 0.0"/>
    </xacro:wheels>

    <!-- Add ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">

        <!-- robotnamespace tag is note used here because it
             blocks changing robot namespace in extern launchfiles
         -->

            <robotParam>$(arg robotParam)</robotParam>
        </plugin>
    </gazebo>

    <!-- Create ir_sensors -->  
    <xacro:sensors namespace="$(arg namespace)" sensor_name="left">
        <origin
            xyz="0.023438 0.041802 -0.01074"
            rpy="1.5708 0 0.097308"/>
    </xacro:sensors>

    <xacro:sensors namespace="$(arg namespace)" sensor_name="front_left">
        <origin
            xyz="0.0549597020112072 0.013499578883641 -0.01074"
            rpy="1.5707963267949 0 1.5708"/>
    </xacro:sensors>

    <xacro:sensors namespace="$(arg namespace)" sensor_name="front_right">
        <origin
            xyz="0.0551208644089312 -0.0136426818026577 -0.01074"
            rpy="1.5707963267949 0 -1.5708" />
    </xacro:sensors>

    <xacro:sensors namespace="$(arg namespace)" sensor_name="right">
        <origin
            xyz="0.023438 -0.041802 -0.01074"
            rpy="1.5708 0 -0.097308" />
    </xacro:sensors>

</robot>