<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Parameters -->
    <xacro:property name="mass" value="0.03293"/>
    <xacro:property name="namespace" value="doogie"/>

    <!-- Includes -->
    <!-- xacro:include filename="$(find doogie_description)/urdf/common_properties.xacro"/ -->
    <!-- macro: base -->
    <xacro:macro name="doogie_base" params="namespace">
    
    <link name="${namespace}/base_link">

        <inertial>
            <origin 
                xyz="0.00968674071529441 -4.2987819602154E-18 -0.0125192407288749" 
                rpy="0 0 0"/>
            <mass 
                value="${mass}"/>
            <inertia
                ixx="1.52668608193465E-05"
                ixy="4.58917710661775E-12"
                ixz="2.73567369382039E-23"
                iyy="1.93599497928914E-05"
                iyz="-2.31610571514848E-23"
                izz="3.44511538963699E-05" />
        </inertial>

        <visual>
            <origin 
                xyz="0 0 0" 
                rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://doogie_description/meshes/collada/base_link_v4.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin 
                xyz="0 0 0" 
                rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://doogie_description/meshes/stl/doogie_collision.stl"/>
            </geometry>
        </collision>

        <collision>
            <origin 
                xyz="0.063 0 -0.018" 
                rpy="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 -0.005"/>
            </geometry>
        </collision>

    </link>

        <gazebo reference="${namespace}/base_link">
            <kp>10000000</kp>
            <kd>1</kd>
        </gazebo>

    </xacro:macro>
</robot>