<?xml version="1.0"?>
<launch>

    <arg name="rvizconfig" default="$(find doogie_description)/rviz/display.rviz" />


    <group ns="doogie">
        <include file="$(find doogie_description)/launch/robot_description.launch">
            <!-- <arg name="robot_namespace" value="doogie"/> -->
        </include>

        <param name="use_gui" value="true"/>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    </group>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>