<?xml version="1.0"?>
<launch>
 
  <arg name="ns" default="/"/>
 
  <node name="doogie_move_base_controller" pkg="doogie_navigation" type="move_base_node" output="log">
    <rosparam file="$(find doogie_control)/config/doogie_move_base_controller.yaml" command="load"/>
    <!-- <remap from="/doogie_move_base" to="/move_base_controller"/> -->
  </node>

</launch>
