<?xml version="1.0"?>
<robot name="doogie" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Parameters -->
    <xacro:arg name="namespace" default="doogie"/>

    <!-- Includes -->
    <xacro:include filename="$(find doogie_description)/urdf/doogie_base.xacro"/>

    <!-- Creates the doogie -->
    <xacro:doogie_base namespace="$(arg namespace)"/>

</robot>