<?xml version="1.0"?>
<robot name="minus_maze">

	<link name="minus/base_link">
		<inertial>
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
			<mass value="1.0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
		<visual name="">
			<origin xyz="0.0 0.0 0.001" rpy="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://doogie_description/mazes/minus_visual_debug.dae"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 0.001" rpy="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://doogie_description/mazes/minus_collision.stl"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
			<geometry>
				<box size="0.03 0.03 0.001"/>
			</geometry>
		</collision>
	</link>

	<gazebo reference="minus/base_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
    </gazebo>

</robot>